* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  position: relative;
  background: url("./ba.jpg");
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
}
header {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
}
img {
  width: 3rem;
  height: 3rem;
}
.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center h1 {
  font-size: 4rem;
}
.img {
  display: flex;
  align-items: center;
}
.img h2 {
  padding-left: 2rem;
}
a {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: blue;
  border-radius: 1rem;
}
